git*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
app/data/clean_data/crime_hotspot_cities_clean.csv filter=lfs diff=lfs merge=lfs -text
app/data/LSOA.xlsx filter=lfs diff=lfs merge=lfs -text
app/data/clean_data/dim_postcode.csv filter=lfs diff=lfs merge=lfs -text
