app~=0.0.1
asyncpg~=0.31.0
dotenv~=0.9.9
python-dotenv~=1.2.2
starlette~=0.52.1
slowapi~=0.1.9
jwt~=1.4.0
fastapi~=0.135.1
pytest~=9.0.2
httpx~=0.28.1
opentelemetry-instrumentation-openai~=0.53.0
passlib~=1.7.4
pydantic~=2.12.5
redis~=7.3.0
Booktype~=1.5
pip~=24.2
typing_extensions~=4.15.0
cryptography~=46.0.5
numpy~=2.4.2
setuptools~=82.0.1
cffi~=2.0.0
pandas~=3.0.1
python-dateutil~=2.9.0.post0
six~=1.17.0
Pygments~=2.19.2
packaging~=26.0